[hub]
        protocol = ssh
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = GIT_CREDENTIAL_HELPER
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[alias]
        st = status
        ci = commit
        br = branch
        co = checkout
        df = diff
        sync = !sh -c 'git pull && git diff --quiet HEAD || (git commit $1 && git push)' -
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; sublime_text `f`"
        add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
        graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
        who = shortlog -s --
        new = !sh -c 'git lg $1@{1}..$1@{0} "$@"'
        wtf = !$ZSH/bin/git-wtf
        rank-contributors = !$ZSH/bin/git-rank-contributors
[help]
        autocorrect = 1
[push]
        default = simple
[core]
        excludesfile = ~/.gitignore
        editor = vim
[filter "media"]
        clean = git-media-clean %f
        smudge = git-media-smudge %f
