# -*-mode: toml;-*- vim:ft=toml
# file: chezmoi/.chezmoiexternal.toml

# ~/.local/share/chezmoi/.chezmoiexternal.toml.tmpl
# =============================================================================
# External binaries and libraries to download from GitHub and elsewhere.{{- /*
# 
# The $variables below by and large use the gitHubLatestRelease function to
# fetch the latest release and tag name from GitHub.
# 
# TODO: Use data in release information to fetch URL and hash for downloads.
# TODO: Look into caching of these values.
# 
# This file supports Go's text/template language. */}}

{{- $argocd := (gitHubLatestRelease "argoproj/argo-cd").TagName }}
{{- $atuin := (gitHubLatestRelease "atuinsh/atuin").TagName }}
{{- $bat := (gitHubLatestRelease "sharkdp/bat").TagName }}
{{- $hugo := (gitHubLatestRelease "gohugoio/hugo").TagName }}
{{- $kubeseal := gitHubReleases "bitnami-labs/sealed-secrets" | toJson | fromJson | jq ".[] | select(.tag_name | startswith(\"v\")).tag_name" | first | trim }}
{{- $kustomize := (gitHubLatestRelease "kubernetes-sigs/kustomize").TagName }}
{{- $terraform := (gitHubLatestRelease "hashicorp/terraform").TagName | replaceAllRegex "v" "" }}
{{- $terrascan := (gitHubLatestRelease "tenable/terrascan").TagName | replaceAllRegex "v" "" }}
{{- $infracost := (gitHubLatestRelease "infracost/infracost").TagName }}
{{- $nerdFonts := gitHubLatestRelease "ryanoasis/nerd-fonts" | toJson | fromJson }}
{{- $nerdFontFantasque := $nerdFonts | jq ".assets[] | select(.name | startswith(\"FantasqueSansMono.tar.xz\")).browser_download_url" | first | trim }}
{{- $nerdFontCascadia := $nerdFonts | jq ".assets[] | select(.name | startswith(\"CascadiaCode.tar.xz\")).browser_download_url" | first | trim }}
{{- $snykJson := (output "curl" "-s" "https://static.snyk.io/cli/latest/release.json") | fromJson }}
{{- $snykUrl := $snykJson | jq ".assets.\"snyk-linux\".url" | first | trim }}
{{- $snykSha256 := $snykJson | jq ".assets.\"snyk-linux\".sha256" | first | trim | splitList "  " | first }}

[".local/share/fonts/c/CascadiaCode"]
    type = "archive"
    url = {{ $nerdFontCascadia | quote }}
    refreshPeriod = "168h"

[".local/share/fonts/f/FantasqueSansMono"]
    type = "archive"
    url = {{ $nerdFontFantasque | quote }}
    refreshPeriod = "168h"

[".local/bin/snyk"]
    type = "file"
    url = {{ $snykUrl | quote }}
    executable = true
    refreshPeriod = "720h"
    [".local/bin/snyk".checksum]
        sha256 = {{ $snykSha256 | quote }}

[".local/bin/mdloader"]
    type = "file"
    url = "https://github.com/Massdrop/mdloader/releases/download/1.0.7/mdloader-Linux.zip"
    executable = true
    refreshPeriod = "720h"
    [".local/bin/mdloader".checksum]
        sha256 = "4b40c816827a947861fbb04a1f18595f133a746e45be4b9087e41b021f371908"
    [".local/bin/mdloader".filter]
        command = "zcat"

[".local/bin/atuin"]
    type = "file"
    url = 'https://github.com/atuinsh/atuin/releases/download/{{ $atuin }}/atuin-{{ $atuin }}-{{ eq .chezmoi.arch "amd64" | ternary "x86_64" .chezmoi.arch }}-unknown-{{ .chezmoi.os }}-gnu.tar.gz'
    executable = true
    refreshPeriod = "168h"
    [".local/bin/atuin".filter]
        command = "tar"
        args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", 'atuin-{{ $atuin }}-{{ eq .chezmoi.arch "amd64" | ternary "x86_64" .chezmoi.arch }}-unknown-{{ .chezmoi.os }}-gnu/atuin']

[".local/bin/bat"]
    type = "file"
    url = 'https://github.com/sharkdp/bat/releases/download/{{ $bat }}/bat-{{ $bat }}-{{ eq .chezmoi.arch "amd64" | ternary "x86_64" .chezmoi.arch }}-unknown-{{ .chezmoi.os }}-gnu.tar.gz'
    executable = true
    refreshPeriod = "168h"
    [".local/bin/bat".filter]
        command = "tar"
        args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", 'bat-{{ $bat }}-{{ eq .chezmoi.arch "amd64" | ternary "x86_64" .chezmoi.arch }}-unknown-{{ .chezmoi.os }}-gnu/bat']

[".local/bin/kustomize"]
    type = "archive-file"
    url = 'https://github.com/kubernetes-sigs/kustomize/releases/download/{{ $kustomize }}/{{ $kustomize | replaceAllRegex "/" "_" }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz'
    path = "kustomize"
    executable = true
    refreshPeriod = "168h"

[".local/bin/kubeseal"]
    type = "archive-file"
    url = 'https://github.com/bitnami-labs/sealed-secrets/releases/download/{{ $kubeseal }}/kubeseal-{{ $kubeseal | replaceAllRegex "v" "" }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz'
    path = "kubeseal"
    executable = true
    refreshPeriod = "168h"

[".local/bin/hugo"]
    type = "archive-file"
    url = 'https://github.com/gohugoio/hugo/releases/download/{{ $hugo }}/hugo_extended_{{ $hugo | replaceAllRegex "v" "" }}_{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz'
    path = "hugo"
    executable = true
    refreshPeriod = "168h"

[".local/bin/argocd"]
    type = "file"
    url = 'https://github.com/argoproj/argo-cd/releases/download/{{ $argocd }}/argocd-{{ .chezmoi.os }}-{{ .chezmoi.arch }}'
    executable = true
    refreshPeriod = "168h"

[".local/bin/stylua"]
    type = "file"
    url = 'https://github.com/JohnnyMorganz/StyLua/releases/download/v0.18.0/stylua-linux-x86_64.zip'
    executable = true
    refreshPeriod = "720h"
    [".local/bin/stylua".checksum]
        sha256 = "6f3d72d23433857c917507fe780eaf16ba1d5aa0304cae588b181db9282e3dd3"
    [".local/bin/stylua".filter]
        command = "zcat"

[".local/bin/kubectl"]
    type = "file"
    url = "https://dl.k8s.io/release/v1.27.4/bin/linux/amd64/kubectl"
    executable = true
    refreshPeriod = "168h"
    [".local/bin/kubectl".checksum]
        sha256 = "4685bfcf732260f72fce58379e812e091557ef1dfc1bc8084226c7891dd6028f"

[".local/bin/helm"]
    type = "archive-file"
    url = "https://get.helm.sh/helm-v3.12.3-linux-amd64.tar.gz"
    path = "linux-amd64/helm"
    executable = true
    refreshPeriod = "720h"
[".local/bin/helm".checksum]
    sha256 = "1b2313cd198d45eab00cc37c38f6b1ca0a948ba279c29e322bdf426d406129b5"

[".local/bin/terraform"]
    type = "file"
    url = 'https://releases.hashicorp.com/terraform/{{ $terraform }}/terraform_{{ $terraform }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.zip'
    executable = true
    refreshPeriod = "720h"
    [".local/bin/terraform".filter]
        command = "zcat"

[".local/bin/tflint"]
    type = "file"
    url = 'https://github.com/terraform-linters/tflint/releases/download/v0.48.0/tflint_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.zip'
    executable = true
    refreshPeriod = "720h"
    [".local/bin/tflint".filter]
        command = "zcat"
    [".local/bin/tflint".checksum]
        sha256 = "13c7947963c4dc4f0aa9e0cb7a0854367a425162a508bc7517d1cbcbef822f3c"

[".local/bin/tfsec"]
    type = "file"
    url = 'https://github.com/aquasecurity/tfsec/releases/download/v1.28.1/tfsec-linux-amd64'
    executable = true
    refreshPeriod = "720h"
    [".local/bin/tfsec".checksum]
        sha256 = "17c1bd99ebe13be77ac775651bc61f44b2b4409b4578485f1168eab8c3e97507"

[".local/bin/doctl"]
    type = "archive-file"
    url = 'https://github.com/digitalocean/doctl/releases/download/v1.98.1/doctl-1.98.1-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz'
    path = "doctl"
    executable = true
    refreshPeriod = "168h"
    [".local/bin/doctl".checksum]
        sha256 = "c48c9b3922d6339aca919b7e4b966740d40d0fca7e0695ec5eb466097d5f1ac5"

[".local/bin/adb"]
    type = "archive-file"
    url = 'https://dl.google.com/android/repository/platform-tools-latest-{{ .chezmoi.os }}.zip'
    path = "platform-tools/adb"
    executable = true
    refreshPeriod = "168h"

[".local/bin/fastboot"]
    type = "archive-file"
    url = 'https://dl.google.com/android/repository/platform-tools-latest-{{ .chezmoi.os }}.zip'
    path = "platform-tools/fastboot"
    executable = true
    refreshPeriod = "168h"

[".local/bin/xcaddy"]
    type = "archive-file"
    url = 'https://github.com/caddyserver/xcaddy/releases/download/v0.3.5/xcaddy_0.3.5_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz'
    path = "xcaddy"
    executable = true
    refreshPeriod = "168h"
    [".local/bin/xcaddy".checksum]
        sha512 = "9e87261a4ca4144bf25105e0cb3b3eb0fb0b8564fe4fa5c126e25a926baea2d16868cb4e88cafc419dc69db3e692894bc7ebcb25434c0bbb74362c2f3a696db5"

[".local/bin/terrascan"]
    type = "archive-file"
    url = 'https://github.com/tenable/terrascan/releases/download/v{{ $terrascan }}/terrascan_{{ $terrascan }}_{{ .chezmoi.os | title }}_{{ eq .chezmoi.arch "amd64" | ternary "x86_64" .chezmoi.arch }}.tar.gz'
    path = "terrascan"
    executable = true
    refreshPeriod = "168h"

[".local/bin/infracost"]
    type = "archive-file"
    url = 'https://github.com/infracost/infracost/releases/download/{{ $infracost }}/infracost-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz'
    path = "infracost-{{ .chezmoi.os }}-{{ .chezmoi.arch }}"
    executable = true
    refreshPeriod = "168h"
