[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-jade"]
	path = vim/vim.symlink/bundle/vim-jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "vim/vim.symlink/bundle/vim-less"]
	path = vim/vim.symlink/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = git@github.com:gabrielelana/vim-markdown.git
[submodule "vim/vim.symlink/bundle/ultisnips"]
	path = vim/vim.symlink/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/vim.symlink/bundle/vim-json"]
	path = vim/vim.symlink/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "vim/vim.symlink/bundle/vim-volt-syntax"]
	path = vim/vim.symlink/bundle/vim-volt-syntax
	url = git@github.com:etaoins/vim-volt-syntax.git
[submodule "vim/vim.symlink/bundle/php.vim"]
	path = vim/vim.symlink/bundle/php.vim
	url = git@github.com:StanAngeloff/php.vim.git
[submodule "vim/vim.symlink/bundle/vim-multiple-cursors"]
	path = vim/vim.symlink/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim/vim.symlink/bundle/vim-jsx"]
	path = vim/vim.symlink/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "vim/vim.symlink/bundle/vim-fireplace"]
	path = vim/vim.symlink/bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "vim/vim.symlink/bundle/vim-clojure-static"]
	path = vim/vim.symlink/bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "vim/vim.symlink/bundle/vim-scala"]
	path = vim/vim.symlink/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
