# -*-mode:just-*- vim:ft=just
# -*-mode:go-template-*- vim:ft=just

# ~/.local/share/chezmoi/dot_justfile.tmpl
# =============================================================================
# Default commands.{{- /*
#
# This file supports Go's text/template language. */}}

[private]
default:
    @just --unstable --list

{{ if or (eq .osid "fedora-silverblue") (eq .osid "linux-wolfi") -}}

import "/usr/share/ublue-os/justfile"

{{ else if eq .osid "fedora-workstation" -}}

# Update system packages
update:
    sudo dnf update -y
    flatpak update --noninteractive

# Fix the GPG card service
fix-gpg:
    sudo systemctl restart pcscd.service
    gpg --card-status

{{ end -}}
