# -*-mode:gitconfig-*- vim:ft=gitconfig
# -*-mode:ini-*- vim:ft=gitconfig

# ~/.gitconfig
# =============================================================================
# User-specific Git configuration file.
#
# See https://git-scm.com/docs/git-config
#
# {{- /* This file supports Go's text/template language. */}}

{{ $gh := lookPath "gh" -}}

[init]
  defaultBranch = main

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
  allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers

[commit]
  gpgsign = true

[user]
  signingkey = {{ .signingkey | quote }}
  email = {{ .email | quote }}
  name = {{ .name | quote }}

{{ if $gh -}}
[credential "https://github.com"]
  helper = !{{ $gh }} auth git-credential

[credential "https://gist.github.com"]
  helper = !{{ $gh }} auth git-credential
{{- end }}

[color]
  ui = true

[include]
  path = {{ .chezmoi.homeDir }}/.gitinclude
