#!/usr/bin/env bash

. "{{ .chezmoi.sourceDir }}/script_utils.sh"

echo "${green}Checking latest versions of externals${reset}"

{{ range .versions.latest_release }}
{{ $latest_url := gitHubLatestRelease . | toJson | fromJson }}
cat <<- 'EOF' >> versions.json
{{ $latest_url | toJson }}
EOF
{{ end }}

# -*-mode:shellscript-*- vim:ft=bash:
