#!/usr/bin/env bash

# URL of the JSON file
json_url="https://static.snyk.io/cli/latest/release.json"

# Use curl to download the JSON file and pipe it to jq to extract the fields
json_data=$(curl -s "$json_url" | jq -r '.assets."snyk-linux"')

# Extract the "url" and "sha256" fields into separate variables
url=$(echo "$json_data" | jq -r '.url')
sha256=$(echo "$json_data" | jq -r '.sha256' | awk '{print $1}')

# Write fields into TOML file
cat << EOF > "{{ .chezmoi.sourceDir }}/.chezmoidata/snyk.toml"
[install.versions.snyk]
url = "${url}"
sha256 = "${sha256}"
EOF

# -*-mode:shellscript-*- vim:ft=bash:
