# Configuration for Alacritty, the GPU enhanced terminal emulator

env:
  TERM: xterm-256color

window:
  padding:
    x: 6
    y: 6
  opacity: 0.86
  position: None
  decorations: None
  dynamic_padding: true
  dynamic_title: true
  decorations_theme_variant: None
  startup_mode: Windowed
  title: Alacritty
  class:
    instance: Alacritty
    general: Alacritty
  scrolling:
    history: 250000
    multiplier: 3

font:
  builtin_box_drawing: true
  normal:
    family: FantasqueSansM Nerd Font
    style: Regular
  bold:
    style: SemiBold
  italic:
    style: Italic
  bold_italic:
    style: SemiBoldItalic
  size: {{if eq .chezmoi.hostname "prime-mover"}}16{{else}}14{{end}}

draw_bold_text_with_bright_colors: true

mouse:
  hide_when_typing: true

cursor:
  blink_interval: 750
  blink_timeout: 5
  unfocused_hollow: true
  style:
    shape: Block
    blinking: "On"
  vi_mode_style:
    shape: Beam
    blinking: "On"

bell:
  animation: EaseOutExpo
  duration: 0
  color: "#ffffff"

live_config_reload: true

import:
  - ~/.config/alacritty/themes/{{ .colortheme }}.yml
