#!/usr/bin/env bash
# -*-mode:bash-*- vim:ft=bash

bind 'set show-all-if-ambiguous on'
bind 'set completion-ignore-case on'
bind 'set colored-stats on'
bind 'set colored-completion-prefix on'
{{ if .disable_bash_history -}}
bind 'set history-size 0'
{{ end -}}
bind 'TAB:menu-complete'
bind '"\e[Z":menu-complete-backward'
