#!/usr/bin/env bash
# -*-mode:bash-*- vim:ft=bash

if command -v zellij &>/dev/null; then
{{ if .enable.zellij_autostart -}}
  # shellcheck disable=SC1090
  source <(zellij setup --generate-completion bash --generate-auto-start bash)
{{ else }}
  # shellcheck disable=SC1090
  source <(zellij setup --generate-completion bash)
{{ end -}}
fi
